@page "/"

<PageTitle>Home</PageTitle>

<MudContainer Fixed="true" Class="mt-5">

    <MudPaper Square="true" Elevation="25" Class="pa-5">

        <h1>Hello, world!</h1>

        Welcome to your new app.

    </MudPaper>

</MudContainer>